h1 {
  position: relative;
  padding: .75em 1em;
  background-color: #f0f0f0;
}
h1::before,
h1::after {
  content: '';
  position: absolute;
  top: 100%;
  border-style: solid;
  border-color: transparent;
}
h1::before {
  left: 0;
  border-width: 0 15px 15px 0;
  border-right-color: #ccc;
}
h1::after {
  right: 0;
  border-style: solid;
  border-width: 15px 15px 0 0;
  border-top-color: #ccc;
}
